@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
    --font-family: 'Public Sans', sans-serif;
    --primary-color: #60A5FA;
    --secondary-color: #2563EB;
    --white-color: #fff;
    --black-color: #000;
    --color-1: #914ADB;
    --color-2: #DC2626;
    --color-3: #BFDBFE;
    --color-4: #F5F5F5;
    --color-5: #4B5563;
    --color-6: #00000040;
    --font-size-12: 12px;
    --font-size-14: 14px;
    --font-size-24: 24px;
    --font-size-32: 32px;
    --line-height-14: 14px;
    --line-height-16: 16px;
    --line-height-28: 28px;
    --line-height-38: 38px;
}

*, ::after, ::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
h3{
    font-size: var(--font-size-24);
    line-height: var(--line-height-28);
    font-weight: 600;
    font-family: var(--font-family);
    color: var(--color-5);
}
body{
    font-size: var(--font-size-14);
    line-height: var(--line-height-16);
    font-family: var(--font-family);
    font-weight: 500;
    padding: 0;
    margin: 0;
    padding-left: 90px;
    background-image: url('../Img/bgimg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;

}
/* =========== Comman css ===========*/

ul{
    padding-left: 0;
    li{
        list-style: none;
    }
}

.btn:not(:disabled):not(.disabled) {
    color: #fff;
    font-family: var(--font-family);
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    padding: 3px 18px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid var(--secondary-color);
    transition: all .15s ease-in-out;
    &.btnThame {
        background-color: var(--secondary-color);
        &:hover {
            transition: all .15s ease-in-out;
            background-color: var(--color-1);
            border: 2px solid var(--color-1)
        }
    }
    &.btnBorder {
        background-color: #0000;
        border-color: #0000;
        color: var(--secondary-color);
        &:hover {
            transition: all .15s ease-in-out;
        }
    }
    &:focus,
    &:focus-visible{
        outline: unset;
    }
}

/* =========== Side Bar ===========*/
.main-header{
    position: fixed;
    left: 0;
    top: 0;
    width: 90px;
    background-color: var(--primary-color);
    height: 100vh;
    .mobilenave{
        display: none;
    }
}
.NavSidebar{
    display: flex;
    flex-wrap: wrap;
    ul{
        li{
            a{
                cursor: pointer;
                text-align: center;
                width: 100%;
                padding: 14px 0;
                transition: .5s;
                font-size: 16px;
                line-height: 19px;
                display: block;
                color: var(--color-5);
                svg{
                    transition: .5s;
                }
            }
            &:hover{
                span{
                    transition: .5s;
                    color: var(--white-color);
                    svg{
                    transition: .5s;
                    fill: #fff;
                        path{
                            fill:#fff;
                        }
                    }
                }
            }
        }
    }
    .bottfooter,
    .topHeader{
        width: 100%;
    }
    .bottfooter{
        position: absolute;
        bottom: 0;
        background-color: var(--primary-color);
    }
    
}

.mainSection{
    padding: 10px;
    position: relative;

    .RightNavBAr{
        position: fixed;
        top: 23px;
        right: 23px;
        padding-top: 7px;
        padding-right: 7px;
        z-index: 1;
        ul{
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin: -7px;
            li{
                padding: 7px;
                a{
                        cursor: pointer;
                        width: 48px;
                        height: 48px;
                        display: flex;
                        background: #2563EB;
                        border-radius: 5px;
                        justify-content: center;
                        align-items: center;
                        svg{
                            width: 25px;
                            fill: #fff;
                            path{
                                fill: #fff;
                            }
                        }
                    }
            }
        }
    }
    
}


/*---------------Input form-control css---------------- */
.saerchBox{
    position: relative;
    input{
        background: #F5F5F5;
        border-radius: 5px;
        border: 1px solid #F5F5F5;
        padding: 15px 35px 15px 15px;
        width: 100%;
        &::placeholder{
            font-weight: 400;
            font-size: 15px;
            line-height: 18px;
            color: #4B5563;
        }
        &:focus,
        &:focus-visible{
            outline: unset;
        }
    }
    .SerchButton{
        background-color: unset;
        border: unset;
        position: absolute;
        right: 0;
        cursor: pointer;
        padding: 12px 12px 10px;
        svg{
            width: 20px;
        }
    }
}

/* =========== Modal Css ===========*/
.modalDiloge{
    position: relative;
    z-index: 9;
}
.modalBackground{
    position: fixed;
    width: 100%;
    cursor: pointer;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #00000080;
}
.modalContainer{
    background: #FFFFFF;
    box-shadow: 0px 10px 18px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    position: fixed;
    max-width: 460px;
    width: 100%;
    height: fit-content;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 30px;
    padding-bottom: 60px;
    &.ciqmodalC{
        max-width: 560px;
    }
}
.modalHeader{
    margin-bottom: 30px;
    .menuPopup{
        display: flex;
        justify-content: space-between;
        align-items: center;
        span{
            cursor: pointer;
            height: 30px;
            svg{
                width: 20px;
            }
        }
        .dotMenus{
            position: absolute;
            right: 15px;
            top: 60px;
            background: #FFFFFF;
            padding: 10px 8px;
            box-shadow: 0px 10px 18px rgba(0, 0, 0, 0.08);
            border-radius: 16px;
            ul{
                margin: 0;
                padding: 0;
                li{
                    margin-bottom: 5px;
                    &:last-child{
                        margin-bottom: 0;
                    }
                    a{
                        transition: all .5s ease-in-out;
                        border-radius: 8px;
                        display: flex;
                        text-decoration: none;
                        padding: 5px 12px;
                        align-items: center;
                        &:hover{
                            background: #F5F5F5;
                            transition: all .5s ease-in-out;
                        }
                        span{
                            font-weight: 400;
                            font-size: var(--font-size-14);
                            line-height: 20px;
                            height: fit-content;
                            color: var(--color-5);
                            padding-left: 10px;
                        }
                        svg{
                            width: 14px;
                        }
                    }
                }
            }
        }
    }
}
.modalFooter{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #fff;
    text-align: right;
    padding: 30px;
}
.dataList{
    ul{
        li{
            &.cdItems{
                a{
                    .namec{
                        .icones{
                            img{
                                width: 18px;
                            }
                        }
                    }
                    .nextlink{
                        .linkurl{
                                font-weight: 500;
                                font-size: 14px;
                                line-height: 16px;
                                color: var(--secondary-color);
                                &:hover{
                                    color: var(--color-1);
                                }
                        }
                    }
                }
            }
            a{
            padding: 15px 0;
            transition: .5s;
            text-decoration: none;
            color: var(--color-5);
            &.gdataList{
                &:hover{
                    color: var(--secondary-color);
                    .nextlink{
                        span{
                            svg{
                                fill:#2563EB;
                                height: 12px;
                                path{
                                fill:#2563EB;
                                }
                            }
                        }
                    }
             
                    transition: .5s;
                    .titlename{
                        transition: .5s;
                        color: var(--secondary-color);
                    }
                }
                display: flex;
                justify-content: space-between;    
                align-items: center;
                .namec{
                    display: flex;    
                    align-items: center;
                }
                .icones{
                    width: 30px;
                    margin-right: 15px;
                    img{
                        width: 24px;
                    }
                }
                .titlename{
                    font-weight: 400;
                    font-size: var(--font-size-12);
                    line-height: var(--font-size-14);
                    color: var(--color-5);
                }
                .nextlink{
                    span{
                        svg{
                            fill:#4B5563;
                            height: 12px;
                            path{
                            fill:#4B5563;

                            }
                        }
                    }
                }
            }
        }}
    &.mciqtItmes{
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(160px, 1fr) );
        
        margin: -5px;
        li{
            
            padding: 5px;
            a{
                background: #F5F5F5;
                border-radius: 8px;
                display: block;
                padding: 10px 20px;
                
                .titlename{
                    font-weight: 600;
                    font-size: var(--font-size-14);
                    line-height: 20px;
                    color: var(--secondary-color);

                }
                .datavalue{
                    font-weight: 400;
                    font-size: var(--font-size-14);
                    line-height: 20px;
                    color: var(--color-5);
                    display: block;
                    margin-bottom: 10px;
                }
                .icones{
                    svg{
                        path{
                            stroke:var(--valuecolor)
                        }
                    }
                }
            }
        }
    }
    }

}


/* =========== Home===========*/

.HomeSection{
    position: relative;
    .screBody{
        max-width: 450px;
        margin-top: 10px;
        ul{
            margin: -5px;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
            .listCard{
                padding: 5px;
                width: 100%;
                .screlink{
                background: #FFFFFF;
                box-shadow: 0px 10px 18px rgba(0, 0, 0, 0.08);
                display: flex;
                text-decoration: none;
                border-radius: 8px;
                padding: 12px 20px;
                transition: all .4s;
                &:hover{
                    transition: all .4s;
                    box-shadow: inset 0px 0px 10px 0px #914ADB;
                }
                .iconetest{
                    width: 38px;
                    margin-right: 15px;
                    height: 38px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: #F5F5F5;
                    border-radius: 8px;
                    img{
                        height: 21px;
                    }
                }
                .contenttext{
                    b{
                        display: block;
                        font-weight: 600;
                        font-size: var(--font-size-14);
                        line-height: 20px;
                        color: var(--color-5);
                    }
                    span{
                    display: block;
                    font-weight: 400;
                    font-size: var(--font-size-14);
                    line-height: 20px;
                    color: var(--color-5);
                    &.emergency-break{
                        color: #DC2626;
                    }
                    }
                }
                }
            }
        }
    }
}
.imageBox{
    max-width: 450px;
    max-height: 450px;
    width: 100%;
    height: 100%;
    position: relative;
    img{
        width: 100%;
        height: 100%;
        background-color: #fff;
    }
    
}
.arrowBBox{
    display: flex;
    justify-content: space-between;
}
.arrowbody{
    width: fit-content;
    margin-top: 100px;
    ul{
        display: flex;
        flex-wrap: wrap;
        margin: -5px;
        width: min(max(170px, 11vw), 210px);
        justify-content: center;
        li{
            padding: 5px;
            text-align: center;
            text-align: -webkit-center;
            &:first-child{
                width: 100%;
            }
            .btnArrow{
                background: linear-gradient(135deg, #FFFFFF 0%, #EAEAEA 100%);
                border-radius: 50%;
                width: min(max(45px, 3.3vw), 60px);
                height:  min(max(45px, 3.3vw), 60px);
                border: unset;
                display: flex;
                cursor: pointer;
                justify-content: center;
                align-items: center;
                &:hover{
                    background: var(--color-1);
                    rect,
                    path,
                    svg{
                        fill: #fff;
                        
                    }
                }
                &.iadata{
                    font-weight: 400;
                    font-size: min(max(22px, 1.7vw), 32px);
                    line-height: 38px;
                    color: #FFFFFF;
                    background: var(--color-1);
                }
                
                svg{
                    width: 18px;
                }
            }

        }
    }
}

@media only screen and (max-width:767px){
    body{
        padding-left: 0;
        padding-top: 60px;
        padding-bottom: 80px;
    }
    .mainSection{
        .RightNavBAr{
            position: fixed;
            bottom: 0;
            top: unset;
            right: 0;
            padding-top: 0;
            padding-right: 0;
            z-index: 1;
            width: 100%;
            ul{
                display: flex;
                grid-template-columns:unset;
                margin: 0;
                padding: 10px;
                justify-content: space-between;
                width: 100%;
                background: #2563EB;
                border-radius: 10px 10px  0 0;
                li{
                    padding: 0;
                    a{
                            cursor: pointer;
                            width: 38px;
                            height: 38px;
                            display: flex;
                            border-radius: 0;
                            justify-content: center;
                            align-items: center;
                            svg{
                                width: 20px;
                                fill: #fff;
                                path{
                                    fill: #fff;
                                }
                            }
                        }
                }
            }
        }
        
    }
    .modalContainer{
        max-width: 90%;
        max-height: 550px;
        overflow-y: scroll;
        &.ciqmodalC{
            max-width: 90%;

        }
    }
    
    .main-header{
        height: fit-content;
        padding: 0 15px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 9;
        &.mobileActive{
            .topHeader{
                transform: translateX(0%);
                transition: all .5s ease-in-out;
                visibility: visible;
                pointer-events: visible;
                opacity: 1;
                ul{
                    li{
                        a{
                            img {
                                filter: brightness(0);
                                width: 23px;
                            }
                        }
                    }
                }
            }
        }
        .mobilenave{
            display: block;
        }
        .topHeader{
            visibility: hidden;
            pointer-events: none;
            opacity: 0;
            position: fixed;
            width: 100%;
            max-width: 90px;
            left: 0;
            top: 0;
            height: 100%;
            background: #60a5fa;
            z-index: 9;
            transform: translateX(-100%);
            transition: all .5s ease-in-out;
            ul{
                margin-top: 2px;

            }
        }
        .NavSidebar{
            .bottfooter{
                position: unset;
                .NavFooterLink{
                    ul{
                        margin: 0;
                        display: flex;
                        width: fit-content;
                        margin-right: 0;
                        margin-left: auto;    align-items: center;
                        li{
                            a{
                                padding: 12px 10px;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width:575px){
    .arrowBBox{
        flex-wrap: wrap;
        justify-content: center;
        .arrowbody{
            margin: 50px 10px 0;
        }
    }

}